@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, button, textarea, select {
    background-color: #f8fdc6;
    font: 16px 'Roboto', sans-serif;
}
body{
    padding-bottom: 70px;
    min-height: 100vh;        /* Ensures body takes full viewport height */
    margin: 0;                /* Removes default margin */
    display: flex;            /* Enables flexbox layout */
    flex-direction: column;   /* Stacks children vertically */
}
header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 50px;
    background: linear-gradient(45deg, #fff7a1, #f7e36d); /* Soft yellow gradient */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background: linear-gradient(45deg, #fff7a1, #f7e36d); /* Soft yellow gradient */
    padding: 10px 50px;
    text-align: center;
    z-index: 100;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional shadow */
}

header h1 {
    flex: 1;
    margin: 0;
    padding-left: 70px;
    font-family: "Press Start 2P", cursive;
    color: #ff6b63;
    font-weight: 400;
    background: url(/images/Logo.png) no-repeat left / 80px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header div { /* NEW */
    text-align: right;
}

header img { /* NEW */
    width: 36px;
    height: 36px;
    border: 1px solid #333;
    border-radius: 30px;
}

/*dropdown list for profile and logout*/

.user-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

header img {
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    transition: transform 0.3s;
}

header img:hover {
    transform: scale(1.05);
}

