@keyframes slide{
  0%{
    transform: translateX(0);
}
25%{
    transform: translateX(0);
}
35%{
    transform: translateX(-100%);
}
45%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
85%{
    transform: translateX(-100%);
}
90%{
    transform: translateX(-100%);
}
100%{
    transform: translateX(0);
}
}

.container-slide {
  width: 90%;
  max-width: 500px; 
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; 
}

.slide-item {
  width: 100%; 
  flex-shrink: 0; 
}

.slide {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.parent-container {
  height: 60px; 
  margin-top: 50px;
}

.recommend-title-slideshow {
  margin-top: 0;
  color: red;
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
